header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37;
 font-size: 25px;
 padding: 0px 0px 5px 0px;
 background-color: #FFFFFF;
}

h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold;
 font-size: 20px;
 color: #AC2B37;
 padding: 10px 0px 0px 10px;
}

body {
 font-family: Futura, Trebuchet MS;
 font-weight: normal;
 color: #000000;
 font-size: 15px;
 background-color: #FFFFFF;
}

p {
 padding: 3px 3px 3px 20px;
}

#content {
 padding: 3px;
}

#WPI {
 display: block;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}

#main_nav ul {
	list-style: none;
	padding: 0;
	margin: 10px;
	font-weight: bold;
}

#main_nav ul li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}

#main_nav ul li a{
	text-decoration: none;
  }

/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

nav li:active {
 background-color: #ccc;
 background-image: none;
 box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

footer {
 font-family: Futura;
 font-weight: normal;
 color: #000000;
 font-size: 10px;
 padding: 50px 3px 3px 20px;
}34
